.feature__subtitle {
	color: var(--orange);
	font-family: var(--subtitle-font);
}

.feature__title span {
	color: var(--orange);
}

.feature__text {
	color: var(--blue);
	width: 60%;
	margin: auto;
}

.feature__item {
	padding-top: 0px;
}

.feature__item p {
	color: var(--blue);
}

.menu {
	padding-top: 80px;
}

.food__category {
	background: var(--green-1);
	text-align: center;
	margin-top: 30px;
	padding: 20px 0px;
	border-radius: 8px;
}

.food__category button {
	border: none;
	outline: none;
	padding: 7px 20px;
	background: transparent;
}

.food__category button img {
	width: 20px;
	height: 20px;
}

.foodBtnActive {
	background-color: var(--red) !important;
	border-radius: 5px;
	color: var(--white);
}

.quality-foods {
	padding: 100px 0px;
}

.quality-foods .quality {
	width: 100%;
	height: 465px;
	object-fit: cover;
}

.quality__food {
	margin-left: 3rem;
}

.quality__food-title {
	text-transform: uppercase;
}

.quality__food-title span {
	color: var(--red);
}

.quality__food-desc {
	color: var(--blue);
	line-height: 28px;
}

.choose__us-title {
	font-weight: 600;
	color: var(--green);
}

.testimonial__subtitle {
	color: var(--orange);
	font-family: var(--subtitle-testimonial);
	font-size: 100px;
	height: 100px;
	margin-bottom: 0;
}

.testimonial__title span {
	color: var(--orange);
}

.testimonial__desc {
	color: var(--blue);
	line-height: 30px;
}

.testimonial__img {
	width: 90%;
}

@media only screen and (max-width: 768px) {
	.feature__text {
		width: 100%;
	}
}

@media only screen and (max-width: 576px) {
	.food__category button {
		padding: 0px 6px;
	}
}
