.howitworks__item {
	margin-top: 2rem;
	padding: 30px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.4s;
}

.howitworks__item p {
	text-transform: uppercase;
	font-weight: 600;
}
.howitworks__img {
	width: 100px;
	height: 110px;
}
.howitworks__img img {
	width: 100%;
	object-fit: cover;
}

@media only screen and (max-width: 768px) {
	.howitworks__item {
		padding: 0px 20px;
	}
}
